[submodule "torch-rnn"]
	path = torch-rnn
	url = https://github.com/jcjohnson/torch-rnn.git
[submodule "torch-hdf5"]
	path = torch-hdf5
	url = https://github.com/deepmind/torch-hdf5
[submodule "mpiT"]
	path = mpiT
	url = https://github.com/sixin-zh/mpiT.git
[submodule "distro"]
	path = distro
	url = https://github.com/torch/distro.git
